<p>FP Classifier was designed to allow a user to find a hashtag to use for a tweet on Twitter. </p>
<p>FP Classifier was developed as a Master's Project at the University of Kentucky in the Computer Science Department.  The site is live and connected to Twitter so you can sign up and link your Twitter account.  However, little to no security measures are taken to ensure the safety of any personal information.  If you sign up for an account you are accepting any and all risks associated.</p>
