$primary-1: #FFFDFA;
$primary-2: #B7B5B4; 
$primary-3: #9A7041;
$primary-4: #FFFEFC;
$primary-5: #FFFFFE;

$complement-1: #A8AAAB;
$complement-2: #797A7A;
$complement-3: #2C5567;
$complement-4: #F8FAFB;
$complement-5: #FAFBFB;

