#footer
{
  width:100%;
  position:absolute;
  bottom:0px;
}

#center
{
  width:1024px;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:auto;
  margin-right:auto;
  height:75px;
  text-align:center;
}
