@import "colors.css.scss";
// Place all the styles related to the header controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#header
{
    margin:0px;
    padding:0px;
    width:100%;
}
div#title
{
    width:1024px;
    
    margin-top:0px;
    margin-bottom:0px;
    margin-left:auto;
    margin-right:auto;
    
    padding:0px;
    padding-top:15px;
    padding-bottom:15px;
    
    color: lighten($complement-2,5%);
    
    background-color: $primary-4; 

    text-align:center;
    font-weight:700;
    font-size:58pt;
    font-family: 'Droid Sans', sans-serif;
}
