@import "colors.css.scss";

div#tabs,
div#subtabs
{
  width:1024px;
  margin-top:0px;
  margin-left:auto;
  margin-right:auto;
}

#tabs, #tabs ul, #tabs ul li, #tabs ul li span, #tabs ul li a,
#subtabs, #subtabs ul, #subtabs ul li, #subtabs ul li span, #subtabs ul li a 
{
  margin: 0;
  padding: 0;
  line-height: 1;
}

#tabs, #tabs a, #tabs a:visited, #tabs a:hover, 
#subtabs, #subtabs a, #subtabs a:visited, #subtabs a:hover 
{
  color: $primary-5;
}

#tabs li.disabled, #tabs li.disabled a, #tabs li.disabled a:visited, #tabs li.disabled a:hover,
#subtabs li.disabled, #subtabs li.disabled a, #subtabs li.disabled a:visited, #subtabs li.disabled a:hover 
{
  color: $primary-5;
}

#tabs a, #subtabs a
{
  text-decoration: none;
}

#tabs ul
{
  font-size: 24px;
  height: 32px;
  list-style-type: none;
  background-color: $complement-3;
  padding: 0 0 0 50px;
}

#tabs ul li,
#subtabs ul li
{
  padding-top: 0px;
  padding-right: 0px;
  float: left;
}

#tabs ul li .tab
{
  background-color:$complement-3;
  padding: 5px 15px 3px 15px;
  float: left;
}

#tabs ul li.active .tab
{
  background-color: lighten($complement-3,12%);
  padding-bottom: 3px;
}

#tabs ul li a:hover
{
  background-color: lighten($complement-3,12%);;
}

#subtabs ul
{
  font-size: 24px;
  height: 32px;
  list-style-type: none;
  background-color: lighten($complement-3,12%);
  padding: 0 0 0 50px;
}

#subtabs ul li .tab 
{
  background-color:lighten($complement-3,12%);
  padding: 5px 15px 3px 15px;
  float: left;
}

#subtabs ul li.active .tab 
{
  background-color: $complement-3;
  padding-bottom: 3px;
}

#subtabs ul li a:hover 
{
  background-color: $complement-3;
}

#subtabs ul
{
  /* float clearing */
  overflow: hidden;
  display: inline-block; /* Necessary to trigger "hasLayout" in IE */
  display: block; /* Sets element back to block */
  background-color:lighten($complement-3,12%);
}

#tabs ul
{
  /* float clearing */
  overflow: hidden;
  display: inline-block; /* Necessary to trigger "hasLayout" in IE */
  display: block; /* Sets element back to block */
  background-color:$complement-3;
}
