@import url(http://fonts.googleapis.com/css?family=Kavoon);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic);

html,body
{
    width:100%;
    padding:0;
    margin:0;
    height:100%;
    font-family: 'Droid Serif', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.4;
}
header, div#header
{
    position:fixed;
    padding:0px;
    width:100%;
    z-index:500;
    margin:0px;
}

div#headerContent
{
    width:960px;
    margin:0 auto;
    height:150px;  
}

header #title, div#header #title
{
    position:relative;
    text-align:center;
    font-style: italic;
    font-weight:700;
    line-height:100px;
    font-size:60pt;
    color:#AA7755;
}
header ul, div#header ul
{
    margin:0;
    line-height:50px;
    overflow:auto;
    list-style:none;
}

header ul li, div#header ul li   
{
    position:relative;
    display:inline;
    font-size:18px;
    float:left;

}

header ul li a, div#header ul li a
{
    text-decoration:none;
    font-weight:700;
    display:block;
    padding-left:15px;
    padding-right:15px;
}
header ul li a:hover, div#header ul li a:hover
{
    background-color:#ccbbaa;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}


div#content
{
    position:relative;
    top:150px;
    width:960px;
    height:100%;
    margin:0 auto -4em;
    z-index:100;
    font-weight:700;
}
div#wrapper{
    min-height:100%;
    position:relative;
    height:100%;
}
div#content p
{
	margin:0px;
	padding:15px;
	font-size:18px;
}
div#statement
{
	margin:0px;
	padding-left:25px;
}
div#statement input#text
{
    margin:10px;
    padding:5px;
    padding-left:5px;
    padding-right:5px;
    border: 0 none #000;
    border-bottom:medium dotted #557777;
}
h2,h3,h1,h4,p
{
    margin:0;
    padding:0;
}

footer, div#footer, div#push
{
    height:4em;
}
footer, div#footer
{
    width:960px
    position:absolute;
    bottom:0;
    left:0;
}

div#footer p, footer p
{
    text-align:center;
    font-size:12px;
    font-weight:400;
}
