<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComboBoxLookups</key>
	<dict>
		<key>bezelStyle</key>
		<array>
			<string>None</string>
			<string>Rounded</string>
			<string>Square</string>
			<string>Thick Square</string>
			<string>Thicker Square</string>
			<string>Disclosure</string>
			<string>Shadowless Square</string>
			<string>Circular</string>
			<string>Textured Square</string>
			<string>Help Button</string>
		</array>
		<key>buttonType</key>
		<array>
			<string>Momentary Light Button</string>
			<string>Momentary Push Button</string>
			<string>Momentary Change Button</string>
			<string>Push On / Push Off Button</string>
			<string>On / Off Button</string>
			<string>Toggle Button</string>
			<string>Switch Button (Checkbox)</string>
			<string>Radio Button</string>
		</array>
		<key>imageFrameStyle</key>
		<array>
			<string>None</string>
			<string>Photo</string>
			<string>Gray Bezel</string>
			<string>Groove</string>
			<string>Button</string>
		</array>
		<key>imageScaling</key>
		<array>
			<string>Proportionally</string>
			<string>To Fit</string>
			<string>None</string>
		</array>
	</dict>
	<key>ElementInfo</key>
	<dict>
		<key>borderWidth</key>
		<real>1</real>
		<key>elementId</key>
		<string></string>
		<key>elementTypeDict</key>
		<dict/>
		<key>matteWidth</key>
		<real>3</real>
		<key>selected</key>
		<true/>
		<key>viewFrame</key>
		<dict>
			<key>origin</key>
			<dict>
				<key>x</key>
				<real>2</real>
				<key>y</key>
				<real>2</real>
			</dict>
			<key>size</key>
			<dict>
				<key>height</key>
				<real>1</real>
				<key>width</key>
				<real>1</real>
			</dict>
		</dict>
	</dict>
	<key>ElementTypes</key>
	<dict>
		<key>button</key>
		<dict>
			<key>className</key>
			<string>NSButton</string>
			<key>height</key>
			<real>24</real>
			<key>imageName</key>
			<string>Button</string>
			<key>type</key>
			<string>button</string>
			<key>width</key>
			<real>64</real>
			<key>xfMutableProperties</key>
			<dict>
				<key>bezelStyle</key>
				<integer>2</integer>
				<key>bordered</key>
				<true/>
				<key>enabled</key>
				<true/>
				<key>hidden</key>
				<false/>
				<key>title</key>
				<string>Submit</string>
				<key>toolTip</key>
				<string>Button</string>
			</dict>
			<key>xfNonMutableProperties</key>
			<dict>
				<key>buttonType</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>checkBox</key>
		<dict>
			<key>className</key>
			<string>NSButton</string>
			<key>height</key>
			<real>20</real>
			<key>imageName</key>
			<string>CheckBox</string>
			<key>width</key>
			<real>120</real>
			<key>xfMutableProperties</key>
			<dict>
				<key>bordered</key>
				<false/>
				<key>enabled</key>
				<true/>
				<key>hidden</key>
				<false/>
				<key>title</key>
				<string>Check Box</string>
				<key>toolTip</key>
				<string>Check Box</string>
			</dict>
			<key>xfNonMutableProperties</key>
			<dict>
				<key>buttonType</key>
				<integer>3</integer>
				<key>imagePosition</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>emailLink</key>
		<dict>
			<key>className</key>
			<string></string>
			<key>height</key>
			<real>32</real>
			<key>imageName</key>
			<string>Email</string>
			<key>width</key>
			<real>78</real>
			<key>xfMutableProperties</key>
			<dict/>
			<key>xfNonMutableProperties</key>
			<dict/>
		</dict>
		<key>hyperlink</key>
		<dict>
			<key>className</key>
			<string></string>
			<key>height</key>
			<real>32</real>
			<key>imageName</key>
			<string>Web</string>
			<key>width</key>
			<real>78</real>
			<key>xfMutableProperties</key>
			<dict/>
			<key>xfNonMutableProperties</key>
			<dict/>
		</dict>
		<key>image</key>
		<dict>
			<key>className</key>
			<string>NSImageView</string>
			<key>height</key>
			<real>96</real>
			<key>imageName</key>
			<string>Pikachu</string>
			<key>width</key>
			<real>96</real>
			<key>xfMutableProperties</key>
			<dict>
				<key>enabled</key>
				<true/>
				<key>hidden</key>
				<false/>
				<key>image</key>
				<string>Pikachu</string>
				<key>imageFrameStyle</key>
				<integer>2</integer>
				<key>imageScaling</key>
				<integer>1</integer>
				<key>toolTip</key>
				<string>Image</string>
			</dict>
			<key>xfNonMutableProperties</key>
			<dict/>
		</dict>
		<key>pointer</key>
		<dict>
			<key>className</key>
			<string></string>
			<key>height</key>
			<integer>0</integer>
			<key>imageName</key>
			<string>Pointer</string>
			<key>width</key>
			<real>78</real>
			<key>xfMutableProperties</key>
			<dict>
				<key>selected</key>
				<true/>
			</dict>
			<key>xfNonMutableProperties</key>
			<dict/>
		</dict>
		<key>radioButton</key>
		<dict>
			<key>className</key>
			<string>NSButton</string>
			<key>height</key>
			<real>32</real>
			<key>imageName</key>
			<string>RadioButton</string>
			<key>width</key>
			<real>120</real>
			<key>xfMutableProperties</key>
			<dict>
				<key>bordered</key>
				<true/>
				<key>enabled</key>
				<true/>
				<key>title</key>
				<string>Radio Button</string>
				<key>toolTip</key>
				<string>Radio Button</string>
			</dict>
			<key>xfNonMutableProperties</key>
			<dict>
				<key>buttonType</key>
				<integer>4</integer>
			</dict>
		</dict>
		<key>table</key>
		<dict>
			<key>className</key>
			<string>NSTableView</string>
			<key>height</key>
			<real>32</real>
			<key>imageName</key>
			<string>Table</string>
			<key>width</key>
			<real>78</real>
			<key>xfMutableProperties</key>
			<dict/>
			<key>xfNonMutableProperties</key>
			<dict/>
		</dict>
		<key>textField</key>
		<dict>
			<key>className</key>
			<string>NSTextField</string>
			<key>height</key>
			<real>18</real>
			<key>imageName</key>
			<string>TextField</string>
			<key>width</key>
			<real>120</real>
			<key>xfMutableProperties</key>
			<dict>
				<key>bordered</key>
				<false/>
				<key>editable</key>
				<true/>
				<key>enabled</key>
				<true/>
				<key>hidden</key>
				<false/>
				<key>stringValue</key>
				<string>Text Field</string>
				<key>toolTip</key>
				<string>Text Field</string>
			</dict>
			<key>xfNonMutableProperties</key>
			<dict/>
		</dict>
		<key>textLabel</key>
		<dict>
			<key>className</key>
			<string>NSTextField</string>
			<key>height</key>
			<real>18</real>
			<key>imageName</key>
			<string>TextLabel</string>
			<key>width</key>
			<real>120</real>
			<key>xfMutableProperties</key>
			<dict>
				<key>bordered</key>
				<false/>
				<key>editable</key>
				<false/>
				<key>enabled</key>
				<true/>
				<key>stringValue</key>
				<string>Text Label</string>
				<key>toolTip</key>
				<string>Text Label</string>
			</dict>
			<key>xfNonMutableProperties</key>
			<dict/>
		</dict>
	</dict>
	<key>FormInfo</key>
	<dict>
		<key>appVersion</key>
		<string>12NOV2005.02</string>
		<key>formName</key>
		<string>Untitled</string>
		<key>formVersion</key>
		<string>0.1</string>
		<key>pageCount</key>
		<integer>0</integer>
		<key>pageHeight</key>
		<real>612</real>
		<key>pageSizeUnit</key>
		<string>points (pt)</string>
		<key>pageWidth</key>
		<real>792</real>
	</dict>
	<key>PageInfo</key>
	<dict>
		<key>elementCount</key>
		<integer>0</integer>
		<key>elementList</key>
		<array/>
	</dict>
	<key>PageSizes</key>
	<dict>
		<key>USLegal</key>
		<dict>
			<key>height</key>
			<real>792</real>
			<key>width</key>
			<real>612</real>
		</dict>
		<key>USLetter</key>
		<dict>
			<key>height</key>
			<real>792</real>
			<key>width</key>
			<real>612</real>
		</dict>
	</dict>
	<key>UnitConversionToPoints</key>
	<dict>
		<key>centimeters (cm)</key>
		<real>182.88</real>
		<key>inches (in)</key>
		<real>72</real>
		<key>millimeters (mm)</key>
		<real>1828.8</real>
		<key>points (pt)</key>
		<real>1</real>
	</dict>
</dict>
</plist>
