<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xfToolImageHeight</key>
	<real>48</real>
	<key>xfToolImageWidth</key>
	<real>36</real>
	<key>xfToolList</key>
	<dict>
		<key>Button</key>
		<dict>
			<key>imageHeight</key>
			<real>24</real>
			<key>imageName</key>
			<string>Button</string>
			<key>imageWidth</key>
			<real>64</real>
			<key>imageX</key>
			<real>2</real>
			<key>imageY</key>
			<string>4.0</string>
		</dict>
		<key>CheckBox</key>
		<dict>
			<key>imageHeight</key>
			<real>20</real>
			<key>imageName</key>
			<string>CheckBox</string>
			<key>imageWidth</key>
			<real>120</real>
			<key>imageX</key>
			<real>2</real>
			<key>imageY</key>
			<real>80</real>
		</dict>
		<key>EmailLink</key>
		<dict>
			<key>imageHeight</key>
			<real>32</real>
			<key>imageName</key>
			<string>Email</string>
			<key>imageWidth</key>
			<real>78</real>
			<key>imageX</key>
			<real>51</real>
			<key>imageY</key>
			<real>80</real>
		</dict>
		<key>Hyperlink</key>
		<dict>
			<key>imageHeight</key>
			<real>32</real>
			<key>imageName</key>
			<string>Web</string>
			<key>imageWidth</key>
			<real>78</real>
			<key>imageX</key>
			<real>51</real>
			<key>imageY</key>
			<real>118</real>
		</dict>
		<key>Image</key>
		<dict>
			<key>imageHeight</key>
			<real>96</real>
			<key>imageName</key>
			<string>Pikachu</string>
			<key>imageWidth</key>
			<real>96</real>
			<key>imageX</key>
			<real>51</real>
			<key>imageY</key>
			<real>42</real>
		</dict>
		<key>Pointer</key>
		<dict>
			<key>imageHeight</key>
			<real>32</real>
			<key>imageName</key>
			<string>Pointer</string>
			<key>imageWidth</key>
			<real>78</real>
			<key>imageX</key>
			<real>2</real>
			<key>imageY</key>
			<real>156</real>
		</dict>
		<key>RadioButton</key>
		<dict>
			<key>imageHeight</key>
			<real>20</real>
			<key>imageName</key>
			<string>RadioButton</string>
			<key>imageWidth</key>
			<real>120</real>
			<key>imageX</key>
			<real>2</real>
			<key>imageY</key>
			<real>42</real>
		</dict>
		<key>Table</key>
		<dict>
			<key>imageHeight</key>
			<real>32</real>
			<key>imageName</key>
			<string>Table</string>
			<key>imageWidth</key>
			<integer>78</integer>
			<key>imageX</key>
			<real>51</real>
			<key>imageY</key>
			<real>4</real>
		</dict>
		<key>TextField</key>
		<dict>
			<key>imageHeight</key>
			<real>20</real>
			<key>imageName</key>
			<string>TextField</string>
			<key>imageWidth</key>
			<real>120</real>
			<key>imageX</key>
			<real>2</real>
			<key>imageY</key>
			<real>118</real>
		</dict>
		<key>TextLabel</key>
		<dict>
			<key>imageHeight</key>
			<real>20</real>
			<key>imageName</key>
			<string>TextLabel</string>
			<key>imageWidth</key>
			<real>120</real>
			<key>imageX</key>
			<real>51</real>
			<key>imageY</key>
			<real>156</real>
		</dict>
	</dict>
	<key>xfToolViewHeight</key>
	<real>198</real>
	<key>xfToolViewWidth</key>
	<real>101</real>
	<key>xfToolViewX</key>
	<real>2</real>
	<key>xfToolViewY</key>
	<real>6</real>
	<key>xfToolWindowHeight</key>
	<real>204</real>
	<key>xfToolWindowWidth</key>
	<real>108</real>
</dict>
</plist>
