@import "colors.css.scss";

body {
  background-color: $primary-1;
  min-width:320px;
  margin:0px;
  padding:0px;
}

#container {
  width: 90%;
  min-width: none;
  margin: 0 auto;
  background-color: $primary-1;
  padding: 0;
  border: none;
  margin-top: 20px;
}

#header #logo{
  width:100%;
  text-align:center;
  background-color:$primary-5;
  margin:0px;
  padding-bottom:10px;
}
#header #logo a{
  text-decoration:none;
  color: $primary-4; 
  font-size:20px;
}

#menu{
  position:absolute;
  top:25px;
  right:10px;
  z-index:200;
}

#menu_icon{
  position:absolute;
  top:5px;
  right:10px;
}
.icon{
  float:right;
  width:32px;
  height:32px;
}

#menu ul{
  list-style-type:none;
  display:none;
  position:relative;
  z-index:150;
  border:solid;
  border-width:6px;
  border-color: $primary-5;
  background-color:$primary-3;
  padding:0px;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
}

#menu ul ul{
  border:none;
  border-radius:0px;
}
#menu ul ul li{
  background-image:url('/assets/SVG/menu.svg');
  background-size:16px 16px;
  background-repeat:no-repeat;
  background-position: 10px;
}

li.selected{
  background-color: lighten($primary-3,12%);;
}
#menu ul li{
  z-index:100;
}
#menu ul li a{
  text-decoration:none;
  display:block;
  padding-top:20px;
  padding-bottom:20px;
  width:160px;
  z-index:100;
  font-size:20px;
  color:$primary-1;
  text-align:center;
}

ul li a:hover{
  background-color: lighten($primary-3,12%);;
}
ul ul li a:hover{
  background-color: lighten($primary-3,18%);;
}

ul li.last a:hover, ul li.selected.last{
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}
ul li ul li.last a:hover,ul li ul li.selected.last{
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

