<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>CS:UK:Master Project</title>
 
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/resources/css/normalize.css">
        <link rel="stylesheet" href="/resources/css/main.css">
        <script src="/resources/js/vendor/modernizr-2.6.2.min.js"></script>
        
        <link rel="stylesheet" href="/resources/css/style.css"/>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <!--[if lt IE 9]><div id="header"><![endif]-->
        <div id="wrapper">
        <header>
           <div id="headerContent">
            
                <div id="title">FP Classifier</div>
<!--[if lt IE 9]><div id="nav"><![endif]-->
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
    </ul>
</nav>
<!--[if lt IE 9]></div><![endif]-->
    
    
           </div>
        </header>
        <!--[if lt IE 9]></div><![endif]-->
        <div id="content">
        
        
           <h2>FP Classifier</h2>
<p><strong>Author:</strong> Mark Dazey</p>
<p><em><strong>Updated: 2013-02-19</strong></em></p>
<h3>Goals</h3>
<p>Implement a system to classify new posts <a href="#fn-post_def">1</a>.  To classify a post we will attempt to assign a keyword to the post.  It may be possible that an assigned keyword does not match what the user had intended.  In that case a list of other possible keywords will be shown or the user can create one.</p>
<h3>Implementation</h3>
<h3>Resources</h3>
<h3>Footnotes</h3>
<p>1<a id="fn-post_def"/>: A post refers to a post on twitter for the purposes of this application.  However this would be able to be applied to any set of sentences which have keywords identified.</p>

        
            <div id="push"/>
        </div>
        </div>
        <div id="footer">
        
            <!--[if lt IE 9]><div id="footer"><![endif]-->
<footer>
    Mark Dazey &copy; 2013
</footer>
<!--[if lt IE 9]></div><![endif]-->
    

        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/resources/js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
        <script src="/resources/js/plugins.js"></script>
        <script src="/resources/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
