/*** The Essential Code ***/
    body{
      padding:0px;
      min-width: 1424px;         /* 2 x LC width + RC width */
      margin-left:auto;
      margin-right:auto;
      margin-top:0px;
    }

    #container {
      padding-left: 200px;      /* LC fullwidth */
      padding-right: 190px;     /* RC fullwidth + CC padding */
    }
    
    #container .column {
      position: relative;
      float: left;
    }
    
    #center {
      padding: 10px 20px;       /* CC padding */
      width: 100%;
    }
    
    #left {
      width: 180px;             /* LC width */
      padding: 0 10px;          /* LC padding */
      right: 240px;             /* LC fullwidth + CC padding */
      margin-left: -100%;
    }
    
    #right {
      width: 130px;             /* RC width */
      padding: 0 10px;          /* RC padding */
      margin-right: -100%;
    }
    
    #footer {
      clear: both;
    }
    
    /*** IE Fix ***/
    * html #left {
      left: 150px;              /* RC fullwidth */
    }

    /*** Just for Looks ***/

    body {
      margin: 0;
      padding: 0;
      background: #FFF;
    }

    #header, #footer {
      font-size: large;
      text-align: center;
      padding: 0.3em 0;
      background: #999;
    }

    #left {
      background: #66F;
    }

    #center {
      background: #DDD;
    }

    #right {
      background: #F66;
    }

    #container .column {
      padding-top: 1em;
      text-align: justify;
    }
