<p id="newPost">This system is designed to retrieve a suggested keyword for your sentence.  Your total charachter length is not limited however for use in certain systems the charachter length may be limited. <span id="italicText">(Twitter for example limits the total post to 140 characters)</span></p>
<%= link_to 'New Post', new_post_path,{:class=>"ui-button"} %>
