<h1>Statuses</h1>

<div id="recent">
  <ul id="post">
   <% @recovered_statuses.each do |post| %>
    <li id="record"><%= link_to post.status, twitter_submit_path(:status=>post.status, :key=>post.keywords) %> :: <%=post.keywords%></li>
   <% end %>
  </ul>
</div>
<br />
<%= link_to 'New Status', new_recovered_status_path %>
